<h2> Review for <%= @business.name%> </h2>
<h2> Description of services: <%= @business.description%> </h2>
<h2> Team Name: <%= @business.team%> </h2>
<h2> Rating: <%= @business.star_rating%> </h2>
<br>
<%= link_to 'Edit this Review', edit_business_path(@business) %>